# CMake stuff
CMakeCache.txt
cmake_install.cmake
CMakeFiles

# Build stuff
Makefile
bin
lib

# Editor stuff
.clangd
compile_commands.json

# Game data stuff
*.sbbd
*.ffmf
*.ffmc

# Resources
*.wav
*.png
*.ttf
