@font-face {
  font-family: 'Major Mono Display';
  src: url('/Skidibidibop/assets/fonts/major_mono_display/MajorMonoDisplay-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Major Mono Display', sans-serif;
  color: #33322e
};

p, a, span, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: #3a3a3a;
}
